<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form-outline" style="padding-top: 10px">
        <input
          id="search-input"
          type="search"
          class="form-control"
          style="border-radius: 25px; width: 300px; display: inline-block"
          placeholder="Artists, songs, or podcasts"
        />
        <button
          id="search-button"
          type="button"
          class="btn btn-dark"
          style="height: 40px; background-color: black; border: 0"
          onclick="searchButtonFun()"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div style="height: 100px"></div>

    <div class="container">
      <h2 class="albums-heading mb-3">Albums</h2>
      <div class="albums row"></div>
    </div>
    <h2 class="ml-1 mb-3">songs</h2>
    <div class="songs col-12 text-white"></div>
  </body>
</html>
